@model MorimotoCapstone.Models.HelpSupportTicket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HelpSupportTicket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsResolved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsResolved)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
